@use '../Variables';

.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-weight: 800;
            letter-spacing: 3px;
            font-size: 80px;
            color: Variables.$pink;
        }
    }

    &__word-status-container{
        height: 50px;
    }

    &__word-status{
        text-align: center;
        color: rgb(255, 34, 34);
    }

    &__game-over{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;

        &__content{
            background-color: white;
            border-radius: 20px;
            width: 80%;
            height: 300px;
            font-family: Variables.$font;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            &__text{
                font-size: 25px;
                text-align: center;

                &--correct{
                    color: green;
                }

                &--incorrect{
                    color: rgb(78, 78, 78);
                }
            }

            &__word{
                font-size: 70px;
                letter-spacing: 5px;
            }

            &__btn{
                font-size: 20px;
                background-color: Variables.$blue;
                color: white;
                border-radius: 5px;
                border: none;
                padding: 10px;
                cursor: pointer;
                transition: all .2s ease-out;

                &:hover{
                    scale:  1.1;
                }
            }
        }

    }
}

@media all and (max-width: 1000px){
    .app-container{
        justify-content: space-evenly;

        &__header{
    
            h1{
                font-weight: 800;
                letter-spacing: 3px;
                font-size: 50px;
                color: Variables.$pink;
            }
        }

        &__word-status-container{
            height: 20px;
        }
    
        &__word-status{
            text-align: center;
            color: rgb(255, 34, 34);
            font-size: 18px;
        }
    }
}