@use '../Variables';

@mixin sameStylesForKeys{
    height: 70px;
    margin: 5px;
    border: none;
    border-radius: 5px; 
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.keyboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__row{

        &__key{
            @include sameStylesForKeys;
            
            width: 70px;

            &--default{
                background-color: Variables.$blue;
            }

            &--grey{
                background-color: Variables.$blue;
                filter: brightness(.5);
            }
        }

        &__special-key{
            @include sameStylesForKeys; 
            
            background-color: Variables.$pink;
            width: 110px;
        }

        &__key:hover,
        &__special-key:hover{
            scale: 1.1;
        }
    }
}

.grey-key{
    background-color: red;
}

@media all and (max-width: 1000px){
    @mixin sameStylesForKeys{
        height: 35px;
        margin: 2px;
        font-size: 18px;
    }

    .keyboard{

        &__row{

            &__key{
                @include sameStylesForKeys;

                width: 35px;
            }

            &__special-key{
                @include sameStylesForKeys; 
                
                background-color: Variables.$pink;
                width: 60px;
            }
        }
    }
}

@media all and (max-width: 400px){
    @mixin sameStylesForKeys{
        height: 30px;
        margin: 2px;
        font-size: 15px;
    }

    .keyboard{

        &__row{

            &__key{
                @include sameStylesForKeys;

                width: 30px;
            }

            &__special-key{
                @include sameStylesForKeys; 
                
                background-color: Variables.$pink;
                width: 50px;
            }
        }
    }
}